header
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button(type='button', data-toggle='toggle', data-target='#primary-nav').navbar-toggle
          span.sr-only toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="/").navbar-brand brand here
      #primary-nav.collapse.navbar-collapse
        mixin navigation(links)
          ul.nav.navbar-nav
            each link in links
              li(class=key === link.key ? 'active' : '')
                a(href=link.url)= link.name
        - var links = [{ name: 'link 1', url: '/link1', key: 'page1' }, { name: 'link 2', url: '/link2', key: 'page2' }];
        +navigation(links)
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a(href='#', data-toggle='dropdown').dropdown-toggle
              span timothy strimple
              span.caret
            ul(role='menu').dropdown-menu
              li
                a(href='/account') manage account
              li.divider
                li
                  a(href='/auth/signout') sign out