header
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button(type='button', data-toggle='toggle', data-target='#primary-nav').navbar-toggle
          span.sr-only toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="/").navbar-brand brand here
      #primary-nav.collapse.navbar-collapse
        ul.nav.navbar-nav
          mixin navlink(name, url, navkey)
            li(class=key === navkey ? 'active' : '')
              a(href=url)= name
          +navlink('home', '/', 'home')
          +navlink('images', '/images', 'images')
          +navlink('containers', '/containers', 'containers')
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a(href='#', data-toggle='dropdown').dropdown-toggle
              span timothy strimple
              span.caret
            ul(role='menu').dropdown-menu
              li
                a(href='/account') manage account
              li.divider
                li
                  a(href='/auth/signout') sign out