doctype html
html
  head
    title= title ? 'brand - ' + title : 'brand'
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/default.css')
  body
    include ./partials/header.jade
    block content
    include ./partials/footer.jade
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    block scripts